!!! 5
%title= "mattgauger.com"
%meta{ :charset => "utf-8" }
%meta{ :"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
%meta{ :content => "", :name => "description" }
%meta{ :content => "Matt Gauger", :name => "author" }
/[if lt IE 8]
  %link{ :href => "/css/ie.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
%link{ :href => "/css/screen.css", :rel => "stylesheet" }
%link{ :href => "http://fonts.googleapis.com/css?family=Roboto:400,700", :rel => "stylesheet", :type => "text/css" }

%body
  #container
    %header
      %h1
        mattgauger.com

    %section#content
      %article

        %header

  %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js" }
  %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore.js" }
  %script{ :type => "text/javascript", :src  => "//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.js" }
  %script{ :type => "text/javascript", :src  => "/javascripts/site.js" }
